<form [formGroup]="myFormGroup" (ngSubmit)="save()">
  <div>
    <label>first name</label>
    <input type="text" name="firstName" [formControl]="firstName">
  </div>

  <div>
    <label>last name</label>
    <input type="text" name="lastName" [formControl]="lastName">
  </div>

  <div>
    <label>date of birth</label>
    <mat-form-field appearance="fill">
      <input matInput [matDatepicker]="picker" [formControl]="dateOfBirth">
      <mat-datepicker-toggle matSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>&#9660;</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div>
    <label>framework</label>
    <select [formControl]="framework" (change)="getFrameworkVersionOptions($event)">
      <option value="angular">angular</option>
      <option value="react">react</option>
      <option value="vue">vue</option>
    </select>
  </div>

  <div>
    <label>frameworkVersion</label>
    <select [formControl]="frameworkVersion">
      <option *ngFor="let version of frameworkVersionOptions">{{version}}</option>
    </select>
  </div>

  <div>
    <label>email</label>
    <input type="text" name="email" [formControl]="email">
  </div>
  
  <div>
    <label>hobby</label>
    <input type="text" name="hobby" [formControl]="hobby">
  </div>

  <button [disabled]="!myFormGroup.valid">save</button>
</form>