<h1>Developer's Front-End questionnaire form</h1>

<form [formGroup]="myFormGroup" (ngSubmit)="save()">
  <div>
    <label>First name</label>
    <input type="text" name="firstName" [formControl]="firstName" placeholder="required">
  </div>

  <div>
    <label>Last name</label>
    <input type="text" name="lastName" [formControl]="lastName" placeholder="required">
  </div>

  <div>
    <label>Date of birth</label>
    <mat-form-field appearance="fill">
      <input matInput [matDatepicker]="picker" [formControl]="dateOfBirth" placeholder="required">
      <mat-datepicker-toggle matSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>&#9660;</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div>
    <label>Framework</label>
    <select [formControl]="framework" (change)="getFrameworkVersionOptions($event)">
      <option value="angular">angular</option>
      <option value="react">react</option>
      <option value="vue">vue</option>
    </select>
  </div>

  <div>
    <label>Framework version</label>
    <select [formControl]="frameworkVersion">
      <option *ngFor="let version of frameworkVersionOptions" value={{version}}>{{version}}</option>
    </select>
  </div>

  <div>
    <label>Email</label>
    <input type="text" name="email" [formControl]="email" placeholder="required">
    <br>
    <p class="error" *ngIf="email.errors?.emailRegistered">this email is already registered</p>
  </div>
  
  <div>
    <label>Hobby</label>
    <input type="text" name="hobby" [formControl]="hobby" placeholder="required">
  </div>

  <button [disabled]="!myFormGroup.valid">Registration</button>
</form>